* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  height: 100vh;
  background-color: #f6f5f3;
}
.main{
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f5f3;
}