header{
  width: 100vw;
  padding: 15px;
  text-align: center;
}
.nav__block__links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.nav__block__links li {
  display: inline-block;
  margin: 20px;
}

.nav__block__links a {
  text-decoration: none;
  color: black;
}

.nav__block__links a:hover, .nav_link:hover {
  color: #6abe83;
  cursor: pointer;
}

.nav__block__links a:active, .nav_link:active {
text-decoration: underline;
}

.nav__block__buttons{
  display: grid;
  grid-template-columns: repeat(2, 120px);
  justify-content: start;
  padding-top: 15px;
}
.buttons{
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 5px;
  align-items: center;
  font-size: 15px;
  font-family: inherit;
  padding: 5px;
  border: 1px solid #000;
  background-color: #f6f5f3;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  outline: none;
  transition: all linear 0.3s;
}
.buttons label {
  cursor: pointer;
}
.buttons:hover{
  transition: all linear 0.3s;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}