header{
  width: 100vw;
  padding: 15px;
  text-align: center;
}
.nav__block{
  display: grid;
  grid-template-columns: repeat(3,130px);
  justify-content: center;
  padding-top: 15px;
}
.buttons{
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  font-size: 15px;
  font-family: inherit;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  outline: none;
}
.buttons label {
  cursor: pointer;
}
.buttons__view-mode{
  background-color: #f06966;
}
.buttons__add-card{
  background-color: #6abe83;
}
.buttons__delete-card{
  background-color: #000;
}